<h1>Enter some text</h1>

<form action="" method="post">

<p>
<label>First line: </label>

<input type="text" name="first_line" />
</p>

<p>
<label>Second line: </label>

<input type="text" name="second_line" />
</p>

<input type="submit" value="Send">

</form>

<p>

{{{image}}}

</p>