<h1>Create a user</h1>

{{{msg}}}
<form action="" method="post">

<p>
<label>Username: </label>

<input type="text" name="username" />
</p>

<p>
<label>Full name: </label>

<input type="text" name="fullname" />

</p>


<p>
<label>Password: </label>

<input type="password" name="password" />

</p>

<p>
<label>Email: </label>

<input type="text" name="email" />

</p>

<input type="submit" value="Send">

</form>